.image-container .image-container-content{
	height: 100px;
	background-size: cover;
	background-position: center;
	margin-bottom: 10px;
	display: inline-block;
}
.inputfile{
	display: none !important;
}